.carousel-heading{
    font-size:100px;
    font-weight:300;
    margin-top:150px;
}
.carousel-text{
    font-size:26px;
    width:500px;
    margin:35px 0;
    font-weight:200;
}
.start-reading{
    font-size:20px;
    border:0;
    background-color: black;
    color:white;
    padding:15px;
    width:250px;
    border-radius:30px
}